# Mendapatkan Semua Image Path

In [1]:
from glob import glob

In [3]:
fname = glob("data/*/*.png")
fname[:10]

['data\\0\\1.png',
 'data\\0\\10.png',
 'data\\0\\100.png',
 'data\\0\\101.png',
 'data\\0\\102.png',
 'data\\0\\103.png',
 'data\\0\\104.png',
 'data\\0\\105.png',
 'data\\0\\106.png',
 'data\\0\\107.png']

# X = Path => Image => Flatten

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
X = np.array([plt.imread(f).flatten() for f in fname])
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [7]:
X.shape

(2000, 784)

# y = Path split

In [9]:
y = np.array([int(f.split("\\")[1]) for f in fname])
y

array([0, 0, 0, ..., 9, 9, 9])

In [10]:
y.shape

(2000,)

# Join sebagai 1 dataframe dan save as csv

In [12]:
df = pd.DataFrame(X, columns=range(1, 785))
df.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df['label'] = y

# Save to CSV

In [14]:
df.to_csv("metadata_exercise.csv", index=None)